version: '3.8'

services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - mongodb+srv://nikhilraghuwanshi04_db_user:vu3HbvJuWnTsPrxE@cluster0.iv51ar7.mongodb.net/
      - JWT_SECRET=eB4QK9yT3sM8NfZpV2xR7WmJcU0AHLiGdY5o1rFq6SntE8aP
      - GEMINI_API_KEY=${GEMINI_API_KEY}
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
